<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/css/materialize.min.css"type="text/css">
		<link rel="stylesheet" href="/css/me.css" type="text/css">
		<script type="text/javascript" src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/js/jquery.js" charset="UTF-8"></script>
		<script type="text/javascript" src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/js/materialize.min.js" charset="UTF-8"></script>


	</head>
	<body>
		<div th:replace="common::root_navbar(2)"></div>
		<main>
			<div class="container">
				<div class="card-panel" style="background-color: rgba(255,255,255,0.2)">
					<div class="row">
						<blockquote>个人信息</blockquote>
						<form class="col s12">
							<div class="row">
								<div class="input-field col s6">
									<input placeholder="Placeholder" id="first_name" type="text" class="validate" th:value="${userInfo.userName}" disabled>
									<label for="first_name">用户名称</label>
								</div>
								<div class="input-field col s6">
									<input placeholder="Placeholder" id="lastName" type="text" class="validate" th:value="${userInfo.id}" disabled>
									<label for="first_name">用户编号</label>
								</div>
							</div>
						</form>
					</div>
					<div class="row">
						<blockquote style="border-color: green">最近投票</blockquote>
						<table class="centered highlight responsive-table striped">
							<thead>
								<tr>
									<th>编号</th>
									<th>用户IP</th>
									<th>投票时间</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="userVote,userVoteStat : ${recentVoting}">
									<td th:text="${userVoteStat.index + 1}">0</td>
									<td th:text="${userVote.userIP}">null</td>
									<td th:text="${#temporals.format(userVote.createAt,'yyyy-MM-dd HH:mm:ss')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</main>


		<div th:replace="common::footer"></div>


	</body>
</html>