<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>主页</title>
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/css/materialize.min.css">
		<link rel="stylesheet" href="../css/me.css" type="text/css">
		<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/js/materialize.min.js"></script>
	</head>
	<body style="font-family:STFangsong;">
<!--		<p>fafafaf</p>-->
		<div th:replace="common :: navbar(1)"></div>

		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12">
						<div class="section">
							<div class="col s12">
								<blockquote class="title" style="border-color: red">
									热门频道
								</blockquote>
							</div>
							<div th:each="index : ${#numbers.sequence(0,2)}">
								<div class="col s12 m6 l4">
									<div class="card hoverable">
										<div class="card-image waves-effect waves-block waves-light">
											<a th:href="@{'/channel/' + ${channels.get(index).id}}">
												<img width="305" height="229" th:src="'https://ip.webmasterapi.com/api/imageproxy/https://picsum.photos/305/229?blur=1&random=' + ${index + 1} " class="responsive-img wp-post-image" alt="Pikolo Espresso / Downtown, Montréal" loading="lazy"  sizes="(max-width: 305px) 100vw, 305px">
												<span class="card-title home" th:text="${channels.get(index).title}">名称</span>
												<!--												<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>-->
											</a>
										</div>
										<div class="card-content">
											<span th:text="${channels.get(index).title}" class="truncate">公司简介</span>
										</div>
										<div class="card-action" >
											<div class="row" style="height: 3px">
												<div class="col s12 m12 l6">
													<span th:text="${channels.get(index).votingNum}+'人已投票'"></span>&nbsp
													<span ><i class="tiny material-icons">check</i></span>
												</div>
												<div class="col s12 m12 l6 ">
													<span class="right-align" th:text="${#temporals.format(channels.get(index).startTime,'yyyy.MM.dd')} + '—' +${#temporals.format(channels.get(index).endTime,'MM.dd')} "></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section">
							<div class="col s12">
								<blockquote class="title" style="border-color: #4db6ac">
									全部频道
								</blockquote>
							</div>
							<div th:each="channel, channelStat : ${channels}">
								<div class="col s12 m6 l4">
									<div class="card hoverable">
										<div class="card-image waves-effect waves-block waves-light">
											<a th:href="@{'/channel/' + ${channel.id}}">
												<img width="305" height="229" th:src="'https://ip.webmasterapi.com/api/imageproxy/https://picsum.photos/305/229?blur=1&random=' + ${channelStat.index + 1} " class="responsive-img wp-post-image" alt="Pikolo Espresso / Downtown, Montréal" loading="lazy"  sizes="(max-width: 305px) 100vw, 305px">
												<span class="card-title home" th:text="${channel.title}">名称</span>
<!--												<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>-->
											</a>
										</div>
										<div class="card-content">
											<span th:text="${channel.info}" class="truncate">公司简介</span>
										</div>
										<div class="card-action" >
											<div class="row" style="height: 3px">
												<div class="col s12 m12 l6">
													<span th:text="${channel.votingNum}+'人已投票'"></span>&nbsp
													<span ><i class="tiny material-icons">check</i></span>
												</div>
												<div class="col s12 m12 l6 ">
													<span class="right-align" th:text="${#temporals.format(channel.startTime,'yyyy.MM.dd')} + '—' +${#temporals.format(channel.endTime,'MM.dd')} "></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="common::footer"></div>
	</body>
	<script>
		var createDiv = function () {


        }


	</script>
</html>