<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>主页</title>
    <!-- CSS  -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/css/materialize.min.css">-->
    <link rel="stylesheet" href="../css/me.css" type="text/css">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<!--    <script src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/js/materialize.min.js"></script>-->
  </head>
<body>
  <div th:replace="common :: navbar(1)"></div>
  <div class="container main">
    <div class="card-panel">
      <h1 class="center" th:text="${votes.title}">投票</h1>
    </div>
    <div class="card-panel">
      <div class="section">
        <div class="row">
          <form>
            <input id="sumNum" th:value="${votes.getVotes().size()}" hidden>
            <input th:id="channelId" th:value="${votes.getId()}" hidden>
            <div class="row" th:each="vote, voteStat : ${votes.getVotes()}">
              <h5 class="title" th:text=" ${vote.title}"></h5>
              <p th:each="option : ${vote.voteOptionsList}">
                <label>
                  <input th:name="'vote_'+ ${vote.id}" type="radio" th:value="${option.id}" />
                  <span th:text="${option.optionsInfo}">Red</span>
                </label>
              </p>
            </div>
          </form>
          <div class="row center-align">
            <button class="btn waves-effect waves-light large" id="submit_btn" >提交<i class="material-icons tiny right">favorite_border</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="common::footer"></div>

  <script>
    M.AutoInit();
    let form = document.querySelector("form");
    $("#submit_btn").click(function () {
      let data = new FormData(form);
      let array = new Array();
      for (const entry of data) {
        array.push(entry[1]);
      }
      let size = array.length;
      let sum =  $("#sumNum").val();
      if(size < sum){
        M.toast({html: '请填写完整！', classes: 'rounded red lighten-2'})
        // console.log("请填写完整!")
      }else{
        let channelId = $("#channelId").val()
        let dataForm = JSON.stringify(array);
        console.log(dataForm)
        $.ajax({
          url: "/vote?channel_id=" + channelId,
          type: "post",
          contentType: "application/json",
          data: dataForm,
          dataType: "json"
        }).done(function (data) {
          console.log(data.code);
          if (data.code == 200) {
            M.toast({
              html: '投票成功！,感谢您的投票！',
              classes: 'rounded green',
              displayLength : 1000,
              inDuration: 100,
              outDuration: 0,
              completeCallback: function(){location.reload()}
            });
          } else {
            alert("保存失败！");
          }
        })
      }
    })
  </script>

</body>
</html>