<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
	</head>
	<body>
		<div >
			<nav class="teal lighten-2"  role="navigation" th:fragment="navbar(n)">
				<div class="nav-wrapper container"><a id="logo-container" href="./index.html" class="brand-logo">Simple投票系统</a>
					<ul class="right hide-on-med-and-down">
						<li th:classappend="${n == 0} ? 'active'"><a th:href="@{/index}" class="active">首页</a></li>
						<li th:classappend="${n == 1} ? 'active'"><a th:href="@{/channel}">频道</a></li>
						<li th:classappend="${n == 2} ? 'active'"><a th:href="@{/login}">登录</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div >
			<nav class="teal lighten-2"  role="navigation" th:fragment="root_navbar(n)">
				<div class="nav-wrapper container"><a href="./index.html" class="brand-logo">Simple投票系统</a>
					<ul class="right hide-on-med-and-down">
						<li th:classappend="${n == 0} ? 'active'"><a th:href="@{/root}" class="active">首页</a></li>
						<li th:classappend="${n == 1} ? 'active'"><a th:href="@{/root/channel}">所有频道</a></li>
						<li th:classappend="${n == 2} ? 'active'"><a th:href="@{/root/info}">个人信息</a></li>
						<li th:classappend="${n == 3} ? 'active'"><a th:href="@{/login}">登出</a></li>
					</ul>
				</div>
			</nav>
		</div>

			<footer class="page-footer teal lighten-2" th:fragment="footer" >
				<div class="container">
					<div class="row">
						<div class="col s12 l4">
							<h5 class="title white-text">技术实现</h5>
							<p>后端：Spring全家桶</p>
							<p>主体使用HTML、CSS开发，Material Design风格</p>
							<br>
						</div>
						<div class="col s12 l4">
							<h5 class="title white-text">开发人员</h5>
							<ul>
								<li >谭永锋</li>
								<li >谭永锋</li>
								<li >谭永锋</li>
							</ul>
						</div>
						<div class="col s12 l4">
							<h5 class="title white-text">开发人员</h5>
							<ul>
								<li >谭永锋</li>
								<li >谭永锋</li>
								<li >谭永锋</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						© 2021 Copyright Text
						<a class="grey-text text-lighten-4 right" href="https://github.com/TanYongF/SimpleVotingSystem">项目地址</a>
					</div>
				</div>
			</footer>
	</body>

</html>