<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>主页</title>
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/css/materialize.min.css"type="text/css">
		<link rel="stylesheet" href="/css/me.css" type="text/css">
		<script type="text/javascript" src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/js/jquery.js" charset="UTF-8"></script>
		<script type="text/javascript" src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/VotingSystem/js/materialize.min.js" charset="UTF-8"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs/v0.5.1/fingerprint.min.js"></script>

	</head>
	<body>
		<div th:replace="common :: navbar(0)"></div>
		<div class="section no-pad-bot bg" id="index-banner">
			<div class="container section" >
				<br><br>
				<h1 class="header center white-text" style="font-family: Arial">欢迎来到Simple投票系统！</h1>
				<div class="row center">
					<h5 class="header col s12 light white-text">专注于投票业务~</h5>
				</div>
				<div class="row center">
					<a th:href="@{/channel}" id="download-button" class="cyan pulse btn-large waves-effect waves-light teal lighten-2 hoverable">开始</a>
				</div>
				<br><br>
			</div>
		</div>
		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12 m4">
						<div class="icon-block center">
							<h2 class="teal-text lighten-2"><i class="large material-icons">star_border</i></h2>
							<h5 class="center">项目背景</h5>
							<p class="light">南京邮电大学软件工程专业软件开发实践作品， 采用了Google推荐的极简风格Materialize风格。同时为了应对高流量，引入了<strong>Redis缓存</strong>来应对高并发。</p>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block center">
							<h2 class="center teal-text lighten-2"><i class="large material-icons">local_dining</i></h2>
							<h5 class="center">开发框架</h5>
							<p class="light">前端部分：HTML、CSS、Jquery。总体使用materialize风格</p>
							<p class="light">后端部分：Java语言开发，使用SpringBoot脚手架。数据库采用Mysql、Redis。</p>
							<p class="light">项目协同：Git </p>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center teal-text lighten-2"><i class="large material-icons">group</i></h2>
							<h5 class="center">联系方式</h5>
							<div class="row-center" style="text-align:center">
								<ul>
									<li>QQ : 1807886190</li>
									<li>Github: <a href="https://github.com/TanYongF?tab=repositories">点击查看</a></li>
									<li>Leecode: <a href="https://leetcode-cn.com/u/tanyf/">点击查看</a></li>
									<li>项目地址: <a href="https://github.com/TanYongF/SimpleVotingSystem">点击查看</a></li>
									<li>Email : tan13621251388@gmail.com</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="common::footer"></div>
	</body>

	<script>
        myInit();
	</script>
</html>